/* General Styles */
@font-face {
  font-family: "SyneMono";
  src: url(./assets/fonts/SyneMono-Regular.ttf);
}
@font-face {
  font-family: "KodeMono-VariableFont_wght";
  src: url(./assets/fonts/KodeMono-VariableFont_wght.ttf);
}
@font-face {
  font-family: "IBMPlexMono-Medium";
  src: url(./assets/fonts/IBMPlexMono-Medium.ttf);
}
:root {
  --text-color: rgb(201, 205, 212);
  --bg-color: linear-gradient(to bottom, rgb(28, 27, 27), rgb(35, 34, 34));
  --border-color: rgb(88, 86, 86);
  --main-font: "SyneMono", sans-serif;
  --title-font: "KodeMono-VariableFont_wght", sans-serif;
  --code-font: "IBMPlexMono-Medium", monospace;
  --code-color: rgb(35, 34, 34);
  --accent-first: rgba(154, 166, 201, 0.937);
  --accent-second: rgba(201, 181, 154, 0.937);

}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%; /* 10px */
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-width: 32rem;
  min-height: 100vh;
  padding: 0;
  background: var(--bg-color);
  font-family: var(--main-font);
  font-size: 2rem;
  font-weight: 500;
  color: var(--text-color);
}
.container {
  max-width: 144rem;
}
h1,
h2 {
  font-family: var(--title-font);
}
.section {
  margin-bottom: 6rem;
  flex-basis: 48%;
  padding: 2rem 2rem;
}
.section-title {
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
}
.accent-first {
  color: var(--accent-first);
}
.accent-second {
  color: var(--accent-second);
}

/* Header */
.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  padding: 1.5rem 0;
  margin-bottom: 60px;
  background: var(--bg-color);
  border-bottom: 0.1rem solid var(--border-color);
  border-radius: 0 0 1.5rem 1.5rem;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.header__nav-list__item {
  font-size: 1.8rem;
  font-family: "SyneMono", sans-serif;
}
.header__nav-list__item a {
  color: var(--text-color);
  padding: 0.8rem 1rem;
  border: 0.1rem solid transparent;
  transition: all 0.3s ease;
  transform: scale(1);
}
.header__nav-list__item a:hover {
  border: 0.1rem solid var(--border-color);
  box-shadow: 0.1rem 0 0.1rem var(--accent-first);
  border-radius: 2.5rem 2.5rem 2.5rem 0.1rem;
  transform: scale(1.12);
  opacity: 0.9;
  cursor: pointer;
  color: var(--accent-second);
}

/* Hero */
.hero {
  margin-bottom: 6rem;
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__avatar {
  width: 30rem;
  height: 30rem;
  border-radius: 18rem;
  background-color: var(--accent-first);
  margin-right: 2rem;
}
.hero__decor {
  font-size: 3rem;
  letter-spacing: 0.4rem;
  margin-bottom: 1rem;
}
.hero__title {
  font-size: 4.5rem;
  font-weight: 500;
}
.hero__title span {
  opacity: 0.5;
}
.hero__about {
  border: 0.1rem solid var(--border-color);
  border-radius: 0.2rem 7.5rem 7.5rem 7.5rem;
  padding: 2rem 3.5rem;
}

.content-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Contacts */
.contacts,
.work,
.code {
  border-left: 0.1rem solid var(--border-color);;
  border-right: 0.1rem solid var(--border-color);;
  border-radius: 0.5rem;
}
.contacts__list__item,
.skills__list__item,
.languages__list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contacts__social-icon,
.skills__icon,
.work__icon,
.learning__icon,
.languages__icon {
  width: 2.5rem;
  margin-right: 1rem;
}
.contacts__list__item,
.languages__list__item {
  margin-bottom: 1rem;
}
.contacts__text {
  font-size: 2.2rem;
  color: var(--accent-second);
}
.contacts__list__item a {
  font-size: 2.2rem;
  color: var(--text-color);
}
.contacts__list__item a:hover {
  text-decoration: underline;
  color: var(--accent-first);
}
.contacts__text a:visited {
  color: var(--accent-first);
}

/* Skills */
 .skills,
 .projects,
 .learning {
  border-top: 0.1rem solid var(--border-color);
  border-bottom: 0.1rem solid var(--border-color);
  border-radius: 0.5rem;
}

/* Code */
.code__example {
  padding: 1rem;
  background-color: var(--accent-second);
  border-radius: 0.5rem;
  color: var(--code-color);
}
.javascript {
  font-family: var(--code-font);
}

/* Projects */
.project-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.project-card {
  flex-basis: calc(49% - 1%);
  border: 0.1rem solid;
  transition: all 0.6s ease;
  transform: scale(1);
  z-index: inherit;
  margin-bottom: 0.8rem;
}
.project-card:hover {
  border: 0.1rem solid var(--border-color);
  box-shadow: 0 0 7px var(--accent-first);
  transform: scale(1.2);
  cursor: pointer;
  color: var(--accent-second);
  z-index: 2;
}
.project-card__preview {
  width: 100%;
  height: 100%;
}

/* Work */
.work-part {
  margin-bottom: 3.5rem;
}
.work__list__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 1.5rem;
}
.work__info span,
.learning__course span {
  display: block;
}
.work__position,
.learning__course__name {
  font-size: 1.8rem;
}

/* Learning */
.learning__list__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

/* Languages */
.languages__level {
  margin-left: 1rem;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  border-top: 0.1rem solid var(--border-color);
  border-radius: 0.8rem;
  padding: 1.5rem 6rem;
}
.github-logo-footer {
  width: 3.7rem;
}
.footer-year-info {
  display: flex;
  align-items: center;
  font-size: 1.8rem;
}
.rsschool-logo {
  width: 9rem;
}