/* :root {

} */

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 30px 60px;
}

.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.header,
.main-content,
.footer {
  padding: 30px;
  margin-bottom: 60px;
  background-color: #d3c7c7;
  border: 1px solid #cfacac;
  border-radius: 8px;
}

.main-nav {

}

.nav-list {

}

.nav-list-item {
  font-size: 22px;
}

.nav-list-item a {
  color: #151515;
}

.nav-list-item a:hover {
  border-bottom: 2px solid #151515;
  cursor: pointer;
}

.footer {
  display: block;
  margin-bottom: 0;
}

.rsschool-logo {
  width: 75px;
}