/* General Styles */
@font-face {
  font-family: "SyneMono";
  src: url(./assets/fonts/SyneMono-Regular.ttf);
}
@font-face {
  font-family: "KodeMono-VariableFont_wght";
  src: url(./assets/fonts/KodeMono-VariableFont_wght.ttf);
}
:root {
  --text-color: rgb(201, 205, 212);
  --bg-color: linear-gradient(to bottom, rgb(28, 27, 27), rgb(35, 34, 34));
  --border-color: rgb(88, 86, 86);
  --main-font: "SyneMono", sans-serif;
  --title-font: "KodeMono-VariableFont_wght", sans-serif;
  --accent-first: rgba(154, 166, 201, 0.937);
  --accent-second: rgba(201, 181, 154, 0.937);

}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 60px;
  background: var(--bg-color);
  font-family: var(--main-font);
  font-size: 20px;
  color: var(--text-color);
}
.container {
  max-width: 1200px;
}
h1,
h2 {
  font-family: var(--title-font);
}
.section {
  margin-bottom: 60px;
  flex-basis: 48%;
  padding: 20px 20px;
}
.section-title {
  font-size: 30px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.accent-first {
  color: var(--accent-first);
}
.accent-second {
  color: var(--accent-second);
}

/* Header */
.header {
  padding: 15px 0;
  margin-bottom: 60px;
  border-bottom: 1px solid var(--border-color);
  border-radius: 15px;
}
.header__nav-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.header__nav-list__item {
  font-size: 18px;
  font-family: "SyneMono", sans-serif;
}
.header__nav-list__item a {
  color: var(--text-color);
  padding: 8px 10px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
  transform: scale(1);
}
.header__nav-list__item a:hover {
  border: 1px solid var(--border-color);
  box-shadow: 1px 0 1px var(--accent-first);
  border-radius: 25px 25px 25px 1px;
  transform: scale(1.12);
  opacity: 0.9;
  cursor: pointer;
  color: var(--accent-second);
}

/* Hero */
.hero {
  margin-bottom: 60px;
}
.hero__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__avatar {
  width: 300px;
  height: 300px;
  border-radius: 180px;
  background-color: var(--accent-first);
  margin-right: 20px;
}
.hero__decor {
  font-size: 30px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}
.hero__title {
  font-size: 45px;
  font-weight: 500;
}
.hero__title span {
  opacity: 0.5;
}
.hero__about {
  border: 1px solid var(--border-color);
  border-radius: 2px 75px 75px 75px;
  padding: 20px 35px;
}

.content-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Contacts */
.contacts,
.work,
.code {
  border-left: 1px solid var(--border-color);;
  border-right: 1px solid var(--border-color);;
  border-radius: 5px;
}
.contacts__list__item,
.skills__list__item {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.contacts__social-icon,
.skills__icon,
.work__icon,
.learning__icon {
  width: 30px;
  margin-right: 10px;
}
.contacts__list__item {
  margin-bottom: 10px;
}
.contacts__text {
  font-size: 22px;
  color: var(--accent-second);
}
.contacts__list__item a {
  font-size: 22px;
  color: var(--text-color);
}
.contacts__list__item a:hover {
  text-decoration: underline;
  color: var(--accent-first);
}
.contacts__text a:visited {
  color: var(--accent-first);
}

/* Skills */
 .skills,
 .projects,
 .learning {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  border-radius: 5px;
}

/* Work */
.work__list__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 15px;
}
.work__info span,
.learning__course span {
  display: block;
}
.work__position,
.learning__course__name {
  font-size: 18px;
}

/* Learning */
.learning__list__item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}


/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
  border-top: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 15px 60px;
}
.github-logo-footer {
  width: 37px;
}
.footer-year-info {
  vertical-align: center;
  font-size: 18px;
}
.rsschool-logo {
  width: 90px;
}